@{
    ViewBag.Title = "Home Page";
}
<head>
    <title>Trang chủ</title>
</head>

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h1>Tiêu đề</h1>
                </div>
                <div class="card-body">

                    <h3>Body</h3>

                </div>
            </div>
        </div>
    </div>
</section>


